<Doctype html>
<html>
	<head>
		<title>I got moves like Jagger</title>
	</head>	
	<link rel="stylesheet" href="/static/css/style.css"></link>
	<body>
		<div class="wrapper">
			{% block nav %}
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/create">Create</a></li>
					<li><a href="/entry">Enter</a></li>
				</ul>
			{% endblock %}
			<div class="content">
				{% block content %}{% endblock %}
			</div><!-- /content -->
		</div><!-- /wrapper -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>
			window.jagger = window.jagger || {};</script>
		</script>
		{% block scriptsToLoad %}{% endblock %}
	</body>
</html>
